.username {
    font-size: 20px;
    font-weight: 450;
}

mat-card-content {
    font-size: 18px;
}

.mat-icon {
    font-size: 30px;
}

.title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
}

.post-button{
    width: 120px;
}